.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.navbar a{
  margin-top: 10vmin;
  margin-left: 10vmin;
  margin-right: 10vmin;
  font-size: 2em;
  color: black;
}

.logoLink{
  height: max-content;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


