.Samples{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.Samples p{
    font-weight: bold;
}
.SampleDisplay{
    margin-top: 5%;
    min-height: 10vh;
    min-width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SampleDisplay p{
    margin-left: 1%;
    font-weight: bold;
}